<div class="calculator">
    <div>
        <input class="table" type="text" readonly value="{{ result }}" />
    </div>
    <div>
        
        <button class="button" (click)="name(1)"> 1 </button>
        <button class="button" (click)="name(2)"> 2 </button>
        <button class="button" (click)="name(3)"> 3 </button>
        <button class="button" (click)="name(4)"> 4 </button>
        <button class="button" (click)="name(5)"> 5 </button>
        <button class="button" (click)="name(6)"> 6 </button>
        <button class="button" (click)="name(7)"> 7 </button>
        <button class="button" (click)="name(8)"> 8 </button>
        <button class="button" (click)="name(9)"> 9 </button>
        <button class="button" (click)="name(0)"> 0 </button>
        <button class="button" (click)="name('+')"> + </button>
        <button class="button" (click)="name('-')"> - </button>
        <button class="button" (click)="name('*')"> * </button>
        <button class="button" (click)="name('/')"> / </button>
        <button class="button" (click)="name('=')"> = </button>
        
    </div>
</div>